<div class="row">
  <div class="col-md-12">
    <h2>{{title}}</h2>
    <form method="POST" {{#if update}} action="/users/edit/{{user._id}}" {{else}} action="/users/add" {{/if}}>

      <input type="text" name="firstName" placeholder="First name" value="{{user.first_name}}"
        class="form-control mb-4">
      <input type="text" name="lastName" placeholder="Last name" value="{{user.last_name}}" class="form-control mb-4">
      <input type="text" name="username" placeholder="Username" value="{{user.username}}" class="form-control mb-4">
      <input type="email" name="email" placeholder="Email" value="{{user.email}}" class="form-control mb-4" required>
      <input type="number" name="age" placeholder="Age" value="{{user.age}}" class="form-control mb-4">
      <input type="text" name="bio" placeholder="Bio" value="{{user.short_bio}}" class="form-control mb-4">
      <input type="text" name="phone" placeholder="Phone number" value="{{user.phone_number}}"
        class="form-control mb-4">
      <input type="text" name="street" placeholder="Street name" value="{{user.address.street}}"
        class="form-control mb-4">
      <input type="text" name="number" placeholder="Street number" value="{{user.address.street_number}}"
        class="form-control mb-4">
      <input type="text" name="zip" placeholder="Zip code" value="{{user.address.zip}}" class="form-control mb-4">
      <input type="text" name="country" placeholder="Country" value="{{user.address.country}}"
        class="form-control mb-4">
      <input type="text" name="city" placeholder="City" value="{{user.address.city}}" class="form-control mb-4">
      <input type="text" name="state" placeholder="State" value="{{user.address.state}}" class="form-control mb-4">
      {{#if update}}
      <input type="hidden" name="id" value="{{user._id}}" class="form-control">
      {{/if}}
      <button type="submit" class="btn btn-success" style="margin: 10px;">{{title}}</button>
  </div>
  </form>
</div>